[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
*.user
*.userosscache
*.sln.docstates
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.nupkg
*.snupkg
**/[Pp]ackages/*
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
tasks.json